*{
    margin: 0px;
}
.container{
    display: flex;

}
.main{
    width: 100%;
}
.content{
    background-color: rgb(240, 226, 185);
    display: flex;
    padding:15px;
    margin: 20px;
}
.content p{
    margin-left: 10px;
    flex-wrap: wrap;
}
.sidebar{
    height: 100vh;
    width: 200px;
    background-color: rgb(240, 226, 185);
}
.topbar{
    margin-left: 20px;
    flex-wrap: wrap;
}
.info{
    height: 70px;
    width: 150px;
    background-color: rgb(246, 210, 111);
    border-radius: 40%;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info img{
    height: 50px;
}
.card img{
    width: 230px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
}
.card{
    background-color: rgb(240, 226, 185);
    display: inline-flex;
    flex-direction:column;
    text-align: center;
    border-radius: 15px;
}